
@media (max-width: 1024px){
body {
    padding: 25px 50px 75px;
    margin: 20px 10px 15px;
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); 
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    color: rgba(255, 255, 255, 0.753);
    font-family: 'Raleway', sans-serif;
  }
html {
  scroll-behavior: smooth;
  }
.nav-links li{
    list-style: none;
  }
.nav-links a{
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  text-decoration: none;
  opacity: 0.6;
  justify-content: space-around;
  font-weight: bold;
  }
  ul{
    padding: 0;
  }
nav{
  justify-content: center;
  align-items: center;
  margin-left: 0;
}
.nav-links ul{
  padding-inline-start: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card2{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
} 
.card2-title{
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}
h2 {
 font-size: 20px;
 font-weight: bolder;
}
}
/* desktop settings */
@media(min-width: 1440px){
body {
    padding: 25px 50px 75px;
    margin: 20px 10px 15px;
    background: #edc0bf;
    background: linear-gradient(90deg, #e8a87c 0, #00662a 58%);
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, 0.568);
  }
.card1{
    position: absolute;
    left: 100px;
    top: 10px;
    z-index: 2;
    width: 500px;
    height: 400px;
    padding: 2rem;
    border-radius: 15px 15px 15px 15px;
    background: rgba(255, 255, 255, 0.3);
    background-image: url("card1photo.jpg");
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.card2 {
    right: 20px;
    left: 10px;
    height:15cm;
    padding: 2rem;
    border-radius: 15px 15px 15px 15px;
    background: rgba(255, 255, 255, 0.3);
  	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
    text-align: right;
  }
  
  .card2-title {
    margin-top: 0;
    margin-bottom: .5rem;
    margin-left: 35rem;
    text-align: center;
    font-size: 3rem;
  }

  .card3 {
    margin-top: 30px;
    height: 10cm;
    padding: 2rem;
    border-radius: 15px 15px 15px 15px;
    background: rgba(255, 255, 255, 0.3);
  	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
    text-align: center;
    border-image: 15px 15px 15px 15px;
  }

  .card4 {
    margin-top: 30px;
    height: 10cm;
    padding: 2rem;
    border-radius: 15px 15px 15px 15px;
    background: rgba(255, 255, 255, 0.3);
  	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
    text-align: center;
  }
  .card5 {
    margin-top: 30px;
    height: 10cm;
    padding: 2rem;
    border-radius: 15px 15px 15px 15px;
    background: rgba(255, 255, 255, 0.3);
  	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
    text-align: center;
  }

.reveal{
  position: relative;
  transform: translateY(0px);
  opacity: 0;
  transition: all 1.5s ease;
}
.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

 .pclass2 {
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-left: 37rem;
    text-align: center;
  }
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }

  .nav-links ul{
    display: flex;
    margin-left: 35rem;
    justify-content: space-around;
    width: 50%;
  }
  .nav-links a{
    color: rgba(255, 255, 255, 0.87);
    letter-spacing: 3px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    opacity: 0.6;
  }
  nav a:hover{
    color: rgba(255, 255, 255, 0.788);
    opacity: 1;
  }
  .nav-links li{
    list-style: none;
  }
  .contactinfo{
    text-align: center;
    display: flex !important;
    flex-direction: column;
    list-style: none;
  }
}
